<template>
    <Page>
        <ActionBar title="Bots & Non-Bots"/>
        <StackLayout height="100%">
          <Label :text="selectedItem" />
          <ListView for="item in countries" height="100%" separatorColor="transparent" @itemTap="onItemTap">
            <v-template>
              <StackLayout>
                  <StackLayout class="list-item" orientation="horizontal">
                  <Image :src="item.imageSrc" />
                  <StackLayout class="inner-div">
                      <Label :text="item.name" class="item-name" />
                      <Label text="Last message sent...." class="item-text" />
                  </StackLayout>
                </StackLayout>
              </StackLayout>
            </v-template>
          </ListView>
        </StackLayout>
    </Page>
</template>

<script >
import ChatScreen from './ChatScreen.vue';

  export default {
    data() {
      return {
        selectedItem: 'No item selected yet!',
        countries: [{
                        name: "Australia",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/au.png"
                    },
                    {
                        name: "Belgium",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/be.png"
                    },
                    {
                        name: "Bulgaria",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/bg.png"
                    },
                    {
                        name: "Canada",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/ca.png"
                    },
                    {
                        name: "Switzerland",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/ch.png"
                    },
                    {
                        name: "China",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/cn.png"
                    },
                    {
                        name: "Czech Republic",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/cz.png"
                    },
                    {
                        name: "Germany",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/de.png"
                    },
                    {
                        name: "Spain",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/es.png"
                    },
                    {
                        name: "Ethiopia",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/et.png"
                    },
                    {
                        name: "Croatia",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/hr.png"
                    },
                    {
                        name: "Hungary",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/hu.png"
                    },
                    {
                        name: "Italy",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/it.png"
                    },
                    {
                        name: "Jamaica",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/jm.png"
                    },
                    {
                        name: "Romania",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/ro.png"
                    },
                    {
                        name: "Russia",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/ru.png"
                    },
                    {
                        name: "United States",
                        imageSrc: "https://play.nativescript.org/dist/assets/img/flags/us.png"
                    }
                ]
      }
    },
    methods: {
      onItemTap: function(args) {
        this.selectedItem = this.countries[args.index].name;
        this.$navigateTo(ChatScreen, {
          props:{
            foo: this.countries[args.index].name
          }
        });
      }
    },
  }
</script>

<style scoped>
    .message {
        text-align: center;
        font-size: 36;
        margin: 10vh;
        color: #333333;
    }

    Image{
      border-radius: 50%;
      width: 100;
      height: 50;
    }

    .list-item {
      margin-bottom: 5;
      padding: 10;
    }

    .item-name {
      font-size: 16;
      font-weight: bold;
    }

    .item-text{
      font-style: italic;
    }
    
    .inner-div{
      padding:5;
    }
</style>
