<template>
    <Page>
        <ActionBar :title="getChatScreenActionBarText">
            <NavigationButton text="Back" android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
        </ActionBar>
            <StackLayout width="100%" height="100%">
                <ListView ref="_listView" height="85%" for="item in messages" @itemTap="onItemTap" separatorColor="transparent">
                    <v-template>
                        <StackLayout>
                            <GridLayout columns="auto, auto" rows="auto, auto" horizontalAlignment="right" v-if="item.type == 'S'"> 
                                <Label class="msg-item" row="0" col="1" :text="item.text" dock="right"/>
                                <Label class="msg-date" row="0" col="0" :text="item.date" dock="right"/>
                            </GridLayout >
                            <GridLayout columns="auto, auto" rows="auto, auto" horizontalAlignment="left" v-if="item.type == 'F'"> 
                                <Label class="msg-item friend-msg" row="0" col="0" :text="item.text" dock="left"/>
                                <Label class="msg-date" row="0" col="1" :text="item.date" dock="left"/>
                            </GridLayout >
                        </StackLayout>
                    </v-template>
                </ListView>
                <FlexboxLayout flexWrap="wrap" alignItems="center" justifyContent="center" height="15%" backgroundColor="#ECE5DD">
                    <StackLayout width="85%" margin="5">
                        <TextField class="new-msg-input" v-model="textFieldValue" hint="Enter text..." />
                    </StackLayout>
                    <StackLayout>
                        <!-- <Button class="btn btn-primary" text="Send" @tap="onButtonTap" /> -->
                        <Image src="~/assets/images/send.png" stretch="none" @tap="onButtonTap" />
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>
    </Page>
</template>

<script>
export default {
    props:['foo'],
    data(){
        return{
            textFieldValue: null,
            messages: [
                {type: 'S', text: "bla bla bla", date: this.getFormattedTime()}, {type: 'F', text: "bla bla bla", date: this.getFormattedTime()}, {type: 'S', text: "bla bla bla", date: this.getFormattedTime()}
            ],
            timeoutMessage: null
        }
    },
    watch: {
        messages: function(){
            // Watching for changes in the messages array and scrolling to the last message
            setTimeout(() => {
                    this.$refs._listView.$el.nativeView.scrollToIndex(this.messages.length - 1);
            }, 20);
        }
    },
    methods:{
        onItemTap: function(args) {
            // DEV
            // this.textFieldValue = args.index;
        },
        onButtonTap: function() {
            if(this.textFieldValue){
                this.addNewMessage(this.textFieldValue);
                this.textFieldValue = null;
                this.sendFakeMessageBack();
            }
        },
        sendFakeMessageBack: function() {
            if(this.timeoutMessage) clearTimeout(this.timeoutMessage);
            this.timeoutMessage = setTimeout(() => {
                this.messages.push({ type: 'F', text: 'Hold on! I am just a stupid bot (for now).', date: this.getFormattedTime() });
            }, 2000);  
        },
        addNewMessage: function(newMessage){
            this.messages.push({ type: 'S', text: this.textFieldValue, date: this.getFormattedTime() });
        },
        getFormattedTime: function(){
            var date = new Date();
            var hrs = date.getHours();
            var mins = date.getMinutes();    
            var hFormat = (hrs<10 ? "0" : "");
            var mFormat = (mins<10 ? "0" : "");
            var amPm = (hrs<12 ? "AM" : "PM");
            var is12 = (hrs % 12 === 0);

            return amPm === "AM" && !is12 ? String(hFormat+hrs+ ":" +mFormat+mins+ " " +amPm)
                : "AM" && is12  ? String(12 + ":" +mFormat+mins+ " " +amPm)
                : is12 ? String(hFormat+hrs+ ":" +mFormat+mins+ " " +amPm)
                : String(hFormat+(hrs-12)+ ":" +mFormat+mins+ " " +amPm);
        }
    },
    computed:{
        getChatScreenActionBarText(){
            return `Chatting with ${this.$props.foo}`
        }
    }
}
</script>

<style scoped>
Label{
    color:rgb(56, 56, 56);
    font-size: 16;
}

.msg-item{
    margin: 5;
    background-color:#25D366;
    border-radius: 15;
    padding:10;
}

.friend-msg {
    background-color: #ECE5DD;
}

.msg-date {
    font-size: 10;
    vertical-align: bottom;
    background-color:transparent;
}

.new-msg-input {
    border-radius: 15;
    color:gray;
    background-color: white;
    vertical-align: middle;
}

.send-btn {
    border-color: transparent;
    border-width: 0;
    border-radius: 15;
}

</style>